<article class="people">
  <h1>People</h1>
  <p>{{ event.description }}</p>
  {{#if people.length}}
    <h3>people list</h3>
    <ul>
      {{#each people}}
        <li><a href="/people/{{this.id}}">{{this.name}}</a></li>
      {{/each}}
    </ul>
  {{/if}}
</article>