<article class="location">
  <h1>{{location.name}}</h1>
  <address>{{location.location}}</address>
  {{#if events}}
    <h3>Events List</h3>
    <ul>
        <li><a href="/events/{{events.id}}">{{events.title}}</a></li>
    </ul>
  {{/if}}
</article>