<table class="table table-striped">
    <thead>
    <tr>
        <th>Content</th>
        <th>Value</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Count times per 1.5s</td>
            <td id="countTimes"></td>
        </tr>
        <tr>
            <td>Times of Being Submitted</td>
            <td id="submittedTimes"></td>
        </tr>
        <tr>
            <td>Input Value</td>
            <td id="inputValue_td"></td>
        </tr>
        <tr>
            <td>Hash</td>
            <td id="hash"></td>
        </tr>
    </tbody>
</table>


<form class="form form-horizontal" id="localstorage-form">
    <div class="form-group">
        <div class="">
            <input type="text" id="inputValue">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>