<section class="location">
  <h1>Locations</h1>
  {{#each location}}  
    <article>
      <h2><a href="/locations/{{id}}">{{name}}</a></h2>
      <h3>{{location}}</h3>
    </article>
  {{/each}}
</section>