<div class="row">
    <div class="col-sm-12 col-md-4">
    <form id="new-note-form">
        <label>title<input id="new-note-title" type="text" /></label>
        <label>Due Date <input id="new-note-due-date"></input></label>
        <label>Summary <textarea id="new-note-summary"></textarea></label>
        <label>Body <textarea id="new-note-body"></textarea></label>
        <input type="submit" value="add new note" />
    </form>
</div>